@import "@/reset.scss";

:host(day-selector) {
  position: relative;
  display: flex;
  align-items: center;
}

.DaySelector {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0 var(--inner-padding);
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &__Item {
    display: flex;
    align-items: flex-end;
    router-link {
      font-size: 3rem;
      font-weight: 500;
      transition: font-size 150ms ease-out;
    }
    &--Selected router-link {
      font-size: 6rem;
      font-weight: 700;
    }
  }
}
