@import "@/reset.scss";

:host(sticky-list) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.StickyList {
  &__Top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 6rem;
    left: 0;
    z-index: var(--sticky-list-z-index);
    width: min(var(--app-width-limit), 100%);
    height: calc(var(--vw) * 22 * 1px);
  }
}
