@import "@/reset.scss";

.StarRating {
  display: flex;
  gap: 0.5rem;
  &__Holder {
    width: 7rem;
  }
  &__Partial {
    fill: hsl(var(--depth-300));
    &--Filled {
      fill: hsl(var(--star-color));
    }
  }
  &__Number {
    font-size: 1.1rem;
    font-weight: 700;
  }
  &__Error {
    font-size: 1.1rem;
    font-weight: 700;
  }
}
@keyframes loading-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
