@import "@/reset.scss";
.AiToggle {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  -webkit-user-select: none;
  user-select: none;
  &__Bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 4.6rem;
    height: 2.8rem;
    background-color: hsl(var(--depth-400));
    border-radius: 9999px;
    transition: background-color 150ms ease-out;
    border: 2px solid hsl(var(--depth-900));
  }
  &__Knob {
    position: absolute;
    left: 0.5rem;
    width: 1.4rem;
    height: 1.4rem;
    border: 2px dotted transparent;
    border-radius: 50%;
    background-color: hsl(var(--depth-900));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 150ms ease-out;
  }
  &__Icon {
    width: 1.8rem;
    height: 1.8rem;
    flex-shrink: 0;
    fill: hsl(var(--depth-100));
    .Dark {
      opacity: 0;
      transition: 150ms ease-out;
    }
  }
  &__Checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
    .icon {
      width: 1.8rem;
      height: 1.8rem;
    }
    .checked {
      opacity: 0;
    }
  }

  &__RealCheckbox:focus ~ &__Bar {
    background-color: hsl(var(--theme-base), var(--theme-depth-300));
  }
  &__RealCheckbox:focus ~ &__Checkbox {
    fill: hsl(var(--theme-base), var(--theme-depth-300));
  }

  &__RealCheckbox:checked ~ &__Bar {
    background-color: hsl(var(--theme-base), var(--theme-depth-500));
    border-color: hsl(var(--theme-base), var(--theme-depth-500));
  }
  &__RealCheckbox:checked ~ &__Bar &__Knob {
    width: 2rem;
    height: 2rem;
    transform: translateX(1.4rem);
    background-color: hsl(var(--depth-100));
  }
  &__RealCheckbox:checked ~ &__Bar &__Icon {
    transform: rotate(0);
    fill: hsl(var(--depth-900));
    .Dark {
      opacity: 1;
    }
  }
  &__RealCheckbox:checked ~ &__Checkbox {
    fill: hsl(var(--theme-base), var(--theme-depth-500));
    .no-checked {
      opacity: 0;
    }
    .checked {
      opacity: 1;
    }
  }

  &__RealCheckbox:disabled ~ &__Knob {
    opacity: 0.5;
  }
}

@media (hover: hover) and (pointer: fine) {
  :host(ai-toggle:hover) {
    .AiToggle {
      &__Bar {
        background-color: hsl(var(--theme-base), var(--theme-depth-300));
      }
      &__Checkbox {
        fill: hsl(var(--theme-base), var(--theme-depth-400));
      }
    }
  }
}
