@import "@/reset.scss";

:host(anime-list) {
  display: block;
  width: 100%;
}

.AnimeList {
  width: 100%;
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__Grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: space-between;
    row-gap: calc(var(--card-padding) * 1.5);
    transition: 300ms ease-out;
    animation: 300ms mount-animation forwards ease-out;
    &__Item anime-card {
      height: 100%;
      tag-list {
        margin-left: -0.3rem;
      }
    }
  }
  &__Options {
    display: flex;
    padding: var(--card-padding) 0;
  }
  &__SortButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .text {
      font-weight: 500;
      font-size: 1.4rem;
    }
    .icon {
      --direction: 1;
      width: 1.4rem;
      height: 1.4rem;
      fill: currentColor;
      transform: rotate(calc(-90deg * var(--direction)));
    }
  }
}

@media screen and (min-width: 512px) {
  /*GALAXY_FOLD*/
  .AnimeList {
    &__Grid {
      row-gap: calc(var(--card-padding) / 2);
      grid-template-columns: repeat(2, 49%);
    }
  }
}

@media screen and (min-width: 768px) {
  /*IPAD_MINI*/
  .AnimeList {
    &__Grid {
      grid-template-columns: repeat(3, 32%);
    }
  }
}

@media screen and (min-width: 1080px) {
  /*PC*/
  .AnimeList {
    &__Grid {
      grid-template-columns: repeat(4, 24%);
    }
  }
}

@keyframes mount-animation {
  from {
    opacity: 0;
  }
}
