@import "@/reset.scss";

:host(bottom-sheet) {
  background-color: hsla(var(--overay-ui-bg));
  justify-content: center;
  align-items: flex-end;
  .BottomSheet {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: var(--overay-ui-padding) 0;
    background-color: hsl(var(--depth-100));
    border-radius: var(--card-radius-1) var(--card-radius-1) 0 0;
    animation: overay-ui-content 150ms ease-out;
    &__Title {
      font-size: 1.7rem;
      font-weight: 900;
      padding: 0 var(--overay-ui-padding);
    }
    &__Wrap {
      --ai-select-font-size: 1.3rem;
      --ai-select-padding: var(--overay-ui-padding);
    }
  }
}

@media screen and (min-width: 1080px) {
  :host(bottom-sheet) {
    .BottomSheet {
      width: 100ch;
      &__Title {
        font-size: 2rem;
      }
      &__Wrap {
        --ai-select-font-size: 1.5rem;
      }
    }
  }
}
