@import "@/reset.scss";

:host(bottom-sheet) {
  background-color: hsla(var(--overay-ui-bg));
  justify-content: center;
  align-items: flex-end;
  .BottomSheet {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--overay-ui-padding);
    background-color: hsl(var(--depth-100));
    border-radius: var(--card-radius-1) var(--card-radius-1) 0 0;
    animation: overay-ui-content 150ms ease-out;
    &__Title {
      font-size: 1.7rem;
      font-weight: 900;
    }
  }
}
