#app {
  position: relative;
  min-height: 100vh;
  background-color: hsl(var(--depth-100));
}

.inner {
  padding: 0 var(--inner-padding);
  display: flex;
  flex-direction: column;
}

.fixed-area {
  position: fixed;
  display: flex;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 1rem;
  background-color: hsl(var(--depth-100), 50%);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid hsl(var(--depth-200));
}

.fixed-area .left {
  display: flex;
  flex-direction: column;
}
.page-name {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 900;
}
.season {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
.day-selector {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  max-width: 130rem;
}

.day-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.day-section:not(:last-child) {
  margin-bottom: 3rem;
}
.main {
  width: 100%;
  padding-bottom: 22rem;
  padding-top: calc(var(--header-height) + 10rem);
}

.day-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.card-wrap {
  width: 100%;
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  justify-content: center;
  gap: calc(var(--card-padding) * 2);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3rem var(--inner-padding);
  background-color: hsl(var(--depth-500));
  display: flex;
  flex-direction: column;
}
.footer .col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
}
.footer .col:not(:last-child) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(var(--depth-700));
}

.footer span {
  font-size: 2rem;
  display: block;
}

@media screen and (min-width: 512px) {
  .main {
    padding-bottom: 15rem;
  }

  .footer {
    flex-direction: row;
  }
  .footer .col:not(:last-child) {
    padding-bottom: 0;
    padding-right: 3rem;
    margin-bottom: 0;
    margin-right: 3rem;
    border-bottom: 0;
    border-right: 1px solid hsl(var(--depth-700));
  }
}
@media screen and (min-width: 768px) {
  .card-wrap {
    grid-template-columns: repeat(2, calc((100% - 3rem) / 2));
  }
}
@media screen and (min-width: 1080px) {
  .page-title {
    font-size: 1.2rem;
  }
  .card-wrap {
    grid-template-columns: repeat(3, calc((100% - 6rem) / 3));
  }
}
@media screen and (min-width: 1366px) {
  .card-wrap {
    grid-template-columns: repeat(4, calc((100% - 9rem) / 4));
  }
}

@media screen and (min-width: 1400px) {
  .main {
    padding-bottom: 23rem;
  }
  .footer {
    padding: 5rem var(--inner-padding);
  }
  .footer .col {
    height: 8rem;
  }
  .fixed-area .top {
    padding: 0 calc((100% - 130rem) / 2);
  }
}
